@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');

body {
    background: #555;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-transform: uppercase;

    span {
        font-weight: 200;
    }
}

.btn {    
    width: 200px;
    border-radius: 8px;
    max-width: 256px;
    margin: 1em auto;
    padding: 1em;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    border: 1px solid #fff;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(#fff, .1);
}

.btn:active {
    transform: translateY(4px);
}